@keyframes AGT_Move_color_2 {
	0% {
		transform: translate(-180%, -50%);
	}
	10% {
		transform: translate(-160%, -50%);
	}
	25% {
		transform: translate(90%, -50%);
	}
	45% {
		transform: translate(90%, 10%);
	}
	65% {
		transform: translate(-180%, 10%);
	}
	85% {
		transform: translate(-100% , 10%);
	}
	100% {
		transform: translate(-160%, -50%);
	}
}
@keyframes AGT_Move_color {
	0% {
		transform: translate(-100%, -50%);
	}
	10% {
		transform: translate(100%, -50%);
	}
	25% {
		transform: translate(-100%, -50%);
	}
	45% {
		transform: translate(-100%, 10%);
	}
	65% {
		transform: translate(100%, 10%);
	}
	85% {
		transform: translate(-50% , -50%);
	}
	100% {
		transform: translate(100%, -50%);
	}
}
.agt-hero-section-2 {
	z-index: 1;
	overflow: hidden;
	&:before {
		bottom: 0;
		left: 65px;
		content: "";
		height: 37%;
		width: 1px;
		position: absolute;
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 15, 20, 0.16)), to(rgba(73, 91, 122, 0)));
		background: linear-gradient(180deg, rgba(12, 15, 20, 0.16) 0%, rgba(73, 91, 122, 0) 100%);
		@media #{$xxl,$xl,$lg,$md,$sm,$xs} {
			display: none;
		}
	}
	.agt-h-side1 {
		top: 0;
		right: 0;
		@media #{$xxs} {
			display: none;
		}
	}
	.agt-h-side2 {
		top: 0;
		left: 0;
		@media #{$xxs} {
			display: none;
		}
	}
	.agt-h-color-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
		.color {
			&-bg1 {
				top: 50%;
				left: 50%;
				width: 500px;
				height: 500px;
				display: block;
				position: absolute;
				border-radius: 50%;
				filter: blur(200px);
				background: #40FFA3;
				animation-delay: 1.5s;
				transform: translate(-50%, -50%);
				transition: 1.5s all ease-in-out;
				animation: AGT_Move_color 30s linear infinite;
			}
			&-bg2 {
				top: 50%;
				left: 50%;
				z-index: 1;
				width: 500px;
				height: 500px;
				display: block;
				position: absolute;
				border-radius: 50%;
				filter: blur(200px);
				background: #FB995A;
				animation-delay: 2s;
				transform: translate(-50%, -50%);
				transition: 1.5s all ease-in-out;
				animation: AGT_Move_color 20s linear infinite;
				
			}
			&-bg3 {
				top: 50%;
				left: 50%;
				width: 400px;
				height: 400px;
				display: block;
				position: absolute;
				border-radius: 50%;
				filter: blur(200px);
				background: #5B5DFF;
				transition: 1.5s all ease-in-out;
				transform: translate(-50%, -50%);
				animation: AGT_Move_color_2 30s linear infinite;
			}
			&-bg4 {
				top: 50%;
				left: 50%;
				z-index: 1;
				width: 500px;
				height: 500px;
				display: block;
				border-radius: 50%;
				position: absolute;
				background: #FC4827;
				filter: blur(200px);
				transition: 1.5s all ease-in-out;
				transform: translate(-50%, -50%);
				animation: AGT_Move_color_2 20s linear infinite;
			}
		}
	}
	.agt-h-social-2 {
		top: 40%;
		left: 65px;
		position: absolute;
		transform: translate(-50%);
		@media #{$xxl,$xl} {
			left: 40px;
		}
		@media #{$lg,$md,$sm,$xs} {
			display: none;
		}
		a {
			width: 44px;
			height: 44px;
			opacity: .64;
			display: flex;
			margin: 6px 0px;
			align-items: center;
			border-radius: 100%;
			justify-content: center;
			border: 2px solid #D9D9D9;
			color: var(--agn-clr-black-2);
			&:hover {
				color: var(--agt-base-color-3);
				border: 2px solid var(--agt-base-color-3);
			}
		}
	}
}
.agt-hero-content-2 {
	z-index: 2;
	position: relative;
	padding-top: 170px;
}
.agt-hero-text-2 {
	gap: 20px 30px;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.hero_title {
		font-size: 68px;
		font-weight: 700;
		max-width: 672px;
		line-height: 1.06;
		letter-spacing: -2px;
		color: var(--agn-clr-black-3);
		@media #{$lg} {
			font-size: 55px;
		}
		@media #{$md} {
			font-size: 50px;
		}
		@media #{$sm,$xs} {
			font-size: 45px;
		}
		@media #{$xxs} {
			font-size: 38px;
		}
		@media #{$xxxs} {
			font-size: 35px;
		}
	}
	.text-desc-btn {
		max-width: 416px;
		padding-top: 20px;
		@media #{$md,$sm,$xs} {
			padding-top: 0;
		}
		.agt-btn-2 {
			@media #{$xxs} {
				margin-top: 20px;
			}
		}
	}
}
.agt-hero-slider-2 {
	z-index: 1;
	margin: 0 auto;
	max-width: 1350px;
	.agt-h-txt-shape {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		position: absolute;
	}
}
.agt-hr2-item {
	margin: 0 auto;
	max-width: 1106px;
	.item-arrow {
		top: 0;
		left: 0;
		right: 0;
		width: 90px;
		height: 90px;
		margin: 0 auto;
		position: absolute;
		@media #{$md,$sm} {
			width: 50px;
			height: 50px;
		}
		@media #{$xs} {
			display: none;
		}
		a {
			color: #fff;
			width: 100%;
			height: 100%;
			display: flex;
			font-size: 32px;
			align-items: center;
			border-radius: 100%;
			justify-content: center;
			@media #{$md,$sm,$xs} {
				font-size: 20px;
			}
		}
	}
	.item-img {
		mask-size: cover;
		mask-position: 0% 0%;
		mask-repeat: no-repeat;
		mask-image: url(../img/shape/circle-shape.png);
	}
	.item-text {
		left: 0;
		right: 0;
		z-index: 1;
		bottom: 42px;
		margin: 0 auto;
		max-width: 440px;
		position: absolute;
		@media #{$xs} {
			bottom: 15px;
		}
		&:before {
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			height: 1px;
			width: 100%;
			position: absolute;
			background-color: rgba(255, 255, 255, .32);
		}
		.border-left,
		.border-right {
			left: 0;
			bottom: 0;
			z-index: -1;
			width: 100%;
			height: 85%;
			position: absolute;
			@media #{$xs} {
				display: none;
			}
		}
		.border-left {
			&:before {
				top: 0;
				left: 0;
				width: 1px;
				height: 100%;
				content: '';
				position: absolute;
				background-color: rgba(255, 255, 255, .32);
			}
			&:after {
				top: -15px;
				left: -5px;
				width: 8px;
				height: 8px;
				color: #fff;
				content: '+';
				position: absolute;
			}
		}
		.border-right {
			@media #{$xs} {
				display: none;
			}
			&:before {
				top: 0;
				right: 0;
				width: 1px;
				height: 100%;
				content: '';
				position: absolute;
				background-color: rgba(255, 255, 255, .32);
			}
			&:after {
				top: -15px;
				right: -2px;
				width: 8px;
				height: 8px;
				color: #fff;
				content: '+';
				position: absolute;
			}
		}
		
		.inner-text {
			padding-bottom: 18px;
			@media #{$xxs} {
				padding-bottom: 0;
			}
			&:before {
				bottom: 8px;
				left: -5px;
				width: 8px;
				height: 8px;
				color: #fff;
				content: '+';
				position: absolute;
				@media #{$xs} {
					display: none;
				}
			}
			&:after {
				bottom: 8px;
				right: -2px;
				width: 8px;
				height: 8px;
				color: #fff;
				content: '+';
				position: absolute;
				@media #{$xs} {
					display: none;
				}
			}
			.item-cate {
				display: flex;
				align-items: center;
				margin-bottom: 8px;
				@media #{$xs} {
					justify-content: center;
				}
				.cate-text {
					font-size: 14px;
					font-weight: 600;
					margin: 0px 20px;
					padding: 5px 16px;
					border-radius: 30px;
					letter-spacing: -.5px;
					white-space: nowrap;
					font-family: var(--saira);
					background-color: #2DFFA6;
					color: var(--agn-clr-black-3);
					@media #{$xxs} {
						font-size: 12px;
						padding: 4px 12px;
					}
				}
				.border-top-left {
					width: 100%;
					height: 1px;
					position: relative;
					background-color: rgba(255, 255, 255, .32);
					@media #{$xs} {
						display: none;
					}
					&:before,
					&:after {
						top: -8px;
						right: -8px;
						width: 17px;
						content: '';
						height: 17px;
						position: absolute;
						border-radius: 100%;
						background-color: rgba(255, 255, 255, .12);
					}
					&:after {
						top: -3px;
						width: 7px;
						right: -3px;
						height: 7px;
						background-color: rgba(255, 255, 255, 1);
					}
				}
				.border-top-right {
					height: 1px;
					width: 100%;
					position: relative;
					background-color: rgba(255, 255, 255, .32);
					@media #{$xs} {
						display: none;
					}
					&:before,
					&:after {
						top: -8px;
						left: -8px;
						width: 17px;
						content: '';
						height: 17px;
						position: absolute;
						border-radius: 100%;
						background-color: rgba(255, 255, 255, .12);
					}
					&:after {
						top: -3px;
						width: 7px;
						height: 7px;
						left: -3px;
						background-color: rgba(255, 255, 255, 1);
					}
				}
			}
			.port_title {
				color: #fff;
				font-size: 40px;
				font-weight: 700;
				padding-left: 24px;
				padding-right: 24px;
				letter-spacing: -2px;
				@media #{$xxs} {
					font-size: 30px;
				}
				@media #{$xxxs} {
					font-size: 25px;
				}
			}
		}
	}
}
.agt-hr2-slider {
	display: flex;
}