/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
	--agt-base-color-1: #BAF6BE;
	--agt-base-color-2: #00AF78;
	--agt-base-color-3: #FC4827;
	--agt-base-color-4: #FB995A;
	--agt-base-color-5: #65DC8D;
	--agt-blck-color: #202020;
	--agt-blck-color-2: #1E1E1E;
	--agt-blue-color: #596EFF;
	--agt-gray-1: #F6F6F6;
	--agt-gray-2: #D9D9D9;
	--agt-green: #0D323D;
	--test-sohne-300 :'Test So:hne Extraleicht';
	--saira: "Saira", sans-serif;
	--archivo: "Archivo", sans-serif;
	--inter: "Inter", sans-serif;
}
// Responsive Variables

$xxs:'(max-width: 480px)';
$xxxs:'(max-width: 360px)';
