/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
	font-family: 'Field Demo';
	src: url('../fonts/Fontspring-DEMO-fields-regular-iF663b470a2e746.otf') format('otf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
:root {
	--agt-base-color-1: #BAF6BE;
	--agt-base-color-2: #00AF78;
	--agt-base-color-3: #FC4827;
	--agt-base-color-4: #FB995A;
	--agt-base-color-5: #65DC8D;
	--agt-base-color-6: #FFD0AD;
	--agt-base-color-7: #FFB884;
	--agt-base-color-8: #F05757;
	--agt-blck-color: #202020;
	--agt-blck-color-2: #1E1E1E;
	--agt-blue-color: #596EFF;
	--agt-blue-color-2: #2CA7FF;
	--agt-blue-color-3: #6290FF;
	--agt-gray-1: #F6F6F6;
	--agt-gray-2: #D9D9D9;
	--agt-green: #0D323D;
	--agt-blk-clr: #4F5155;
	--agt-blk-clr-2: #212326;
	--test-sohne-300 :'Test So:hne Extraleicht';
	--saira: "Saira", sans-serif;
	--archivo: "Archivo", sans-serif;
	--inter: "Inter", sans-serif;
	--field: "Field Demo";
}
// Responsive Variables

$xxs:'(max-width: 480px)';
$xxxs:'(max-width: 360px)';
