

/* 
    all-title-paragraph-components-start
*/



.agn-h-1 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--test-sohne-500);
    font-weight: 500;
    color: var(--pf-clr-white-1);
    text-transform: capitalize;
    margin-bottom: 0px;
}

.agn-h-2 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--unbounded);
    font-weight: 500;
    color: var(--pf-clr-black-6);
    text-transform: capitalize;
    margin-bottom: 0px;
}


.agn-p-1 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--test-sohne-400);
    font-weight: normal;
    line-height: 28px;
    font-size: 18px;
    color: var(--agn-clr-black-4);
    margin-bottom: 0px;

}

.agn-p-2 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--inter);
    font-weight: normal;
    line-height: 28px;
    font-size: 18px;
    color: var(--agn-clr-black-7);
    margin-bottom: 0px;
}


.agn-subtitle-1 {
    font-family: var(--clash-500);
    text-transform: capitalize;
    color: var(--agn-clr-pr-2);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    
    .shape {
        fill: #D9D9D9;
        path {
            fill: inherit;
        }
    }
}

.agn-subtitle-2 {
    font-family: var(--unbounded);
    text-transform: uppercase;
    color: var(--agn-clr-sd-2);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    display: inline-flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 16px;
    
    .line {
        width: 52px;
        height: 2px;
        background: linear-gradient(90deg, #00AF78 0%, rgb(255 255 255 / 0%) 100%);
        border-radius: 5px;

        &:nth-child(2) {
            background: linear-gradient(270deg, #00AF78 0%, rgb(255 255 255 / 0%) 100%);
        }
    }

}



.agn-sec-title-1 {
    font-family: var(--test-sohne-500);
    text-transform: capitalize;
    font-size: 52px;
    font-weight: 500;
    color: var(--agn-clr-black-3);
    letter-spacing: -.8px;
    line-height: 1.07;
    margin-bottom: 0;


    @media #{$xxl} {
        font-size: 50px;
    }

    @media #{$xl} {
        font-size: 45px;
    }

    @media #{$lg} {
        font-size: 40px;
    }

    @media #{$md} {
        font-size: 35px;
    }

    @media #{$xs} {
        font-size: 26px;
    }

    @media #{$sm} {
        font-size: 30px;
    }

    &:is(.has-fs-44) {
        font-size: 44px;
        line-height: 1.181;

        @media #{$lg} {
            font-size: 40px;
        }

        @media #{$md} {
            font-size: 35px;
        }

        @media #{$xs} {
            font-size: 26px;
        }

        @media #{$sm} {
            font-size: 30px;
        }
    }

    &:is(.has-fs-64) {
        font-size: 64px;
        line-height: 1.062;


        @media #{$xxxl} {
            font-size: 55px;
        }

        @media #{$xxl} {
            font-size: 50px;
        }
    
        @media #{$xl} {
            font-size: 45px;
        }
    
        @media #{$lg} {
            font-size: 40px;
        }
    
        @media #{$md} {
            font-size: 35px;
        }
    
        @media #{$xs} {
            font-size: 26px;
        }
    
        @media #{$sm} {
            font-size: 30px;
        }

        .split-line {
            padding-bottom: 5px;
            margin-top: -5px;
        }
    }
}

.agn-sec-title-2 {
    font-family: var(--unbounded);
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 600;
    color: var(--agn-clr-black-8);
    letter-spacing: -0.02em;
    line-height: 1.155;
    margin-bottom: 0;


    @media #{$xl} {
        font-size: 40px;
    }

    @media #{$lg} {
        font-size: 35px;
    }

    @media #{$md} {
        font-size: 30px;
    }

    @media #{$xs} {
        font-size: 24px;
    }

    @media #{$sm} {
        font-size: 26px;
    }

}



/* 
    all-title-paragraph-components-end
*/
