/* 
    brand-1-start
*/
.agn-brand-1 {

    &-area {
        z-index: 2;
    }


    &-rotted {
        background: var(--agn-clr-pr-2);
        transform: rotate(4deg);
        margin-left: -5px;
        margin-right: -5px;
    }

    &-wrap {
        display: flex;
        align-items: center;
        gap: 72px;
    }
    &-logo {
        flex: 0 0 auto;
    }
}


/* 
    brand-1-end
*/

/* 
    brand-2-start
*/
.agn-brand-2 {
    &-sec-title {
        .agn-sec-title-2 {
            color: var(--agn-clr-white-1);
            line-height: 1.06;
            font-size: 64px;
            margin-bottom: 21px;

            @media #{$xxxl} {
                font-size: 50px;
            }

            @media #{$xxl} {
                font-size: 45px;
            }

            @media #{$xl} {
                font-size: 40px;
            }
        
            @media #{$lg} {
                font-size: 35px;
            }
        
            @media #{$md} {
                font-size: 30px;
            }
        
            @media #{$xs} {
                font-size: 24px;
            }
        
            @media #{$sm} {
                font-size: 26px;
            }
        
        }

        .line {
            width: 100%;
            height: 1px;
            background: var(--agn-clr-white-1);
            opacity: 16%;
            margin-bottom: 40px;
        }

        .disc {
            max-width: 472px;
            letter-spacing: -.5px;
            color: var(--agn-clr-white-1);
            opacity: 80%;
            margin-left: 185px;

            @media #{$md,$xs} {
                margin-left: 0px;
            }
        }
    }


    &-marquee-active {
        height: 120px;
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 32px;

        &-single {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            width: 280px;
            height: 120px;
            border: 1px solid rgb(255 255 255 / 16%);
            border-radius: 8px;
            flex: 0 0 auto;
            overflow: hidden;
            transition: all .3s ease-out;

            @media #{$lg,$md,$xs} {
                width: 240px;
                height: 90px;
            }

            &:hover {
                img {
                    animation: bounceInDown .75s;
                }
                border-color: var(--agn-clr-white-1);
            }
        }
    }

}
/* 
    brand-2-end
*/