/* 
    campaign-1-start
*/
.agn-campaign-1 {

    &-sec-title {
        max-width: 752px;
    }

    &-card {
        display: flex;
        justify-content: center;
        align-items: start;
        height: 500px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        @media #{$lg} {
            height: 400px;
        }

        @media #{$md} {
            height: 350px;
        }

        @media #{$xs} {
            height: 250px;
        }

        @media #{$sm} {
            height: 300px;
        }

        &-single {
            img {
                filter: drop-shadow(-8px -8px 48px rgba(0, 0, 0, 0.24));
            }

            &:nth-child(1) {
                transform: rotate(-16deg) translate(250px, 160px);
                transform-origin: right bottom;

                @media #{$md,$xs} {
                    transform: rotate(-16deg) translate(30%, 15%);
                }
            }
            &:nth-child(3) {
                transform-origin: left bottom;
                transform: rotate(17deg) translate(-238px, 210px);

                @media #{$md,$xs} {
                    transform: rotate(17deg) translate(-30%, 25%);
                }
            }
        }

        .shape {
            position: absolute;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
    }

    &-btn {
        margin-top: -80px;
        position: relative;
        z-index: 1;
    }
}
/* 
    campaign-1-end
*/
