/* 
    counter-2-start
*/
.agn-counter-team-bg {
    background-color: var(--agn-clr-black-5);
    border-radius: 0 0 60px 60px;
}


.agn-counter-2 {
    &-sec-title {
        display: flex;
        align-items: end;
        gap: 50px;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }

        .left {
            flex: 0 0 auto;
            max-width: 641px;
        }

        .agn-sec-title-2 {
            color: var(--agn-clr-white-1);
        }
    }

    &-disc {
        max-width: 472px;
        margin-left: auto;
        color: var(--agn-clr-white-1);
        opacity: 80%;
        margin-bottom: -52px;

        @media #{$md,$xs} {
            margin-left: 0;
            max-width: 100%;
        }
    }

    &-wrap {
        display: grid;
        gap: 62px;
        grid-template-columns: 3.1fr 1fr;
        align-items: end;

        @media #{$lg} {
            grid-template-columns: 2fr 1fr;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-item {
        &-single {
            display: flex;
            align-items: end;
            gap: 16px;

            &:not(:last-child) {
                margin-bottom: 73px;

                @media #{$md,$xs} {
                    margin-bottom: 33px;
                }
            }

            .number {
                font-size: 80px;
                line-height: 1;
                font-weight: 600;
                letter-spacing: -2px;
                color: var(--agn-clr-white-1);
                flex: 0 0 auto;

                @media #{$xl} {
                    font-size: 60px;
                }

                @media #{$lg,$md,$xs} {
                    font-size: 50px;
                }
            }

            .icon {
                font-family: var(--inter);
                font-size: 45px;
                line-height: 1;
                font-weight: 400;
                color: var(--agn-clr-sd-1);
            }

            .disc {
                font-size: 20px;
                text-transform: capitalize;
                line-height: 24px;
                color: var(--agn-clr-white-1);
                opacity: 80%;
                margin-bottom: 7px;
            }

            &:nth-child(2) {
                .icon {
                    color: var(--agn-clr-sd-2);
                }
            }

            &:nth-child(3) {
                .icon {
                    color: #E92FF5;
                }
            }

            &:nth-child(4) {
                .icon {
                    color: var(--agn-clr-sd-2);
                }
            }
        }
    }

    &-img {
        height: 786px;
        margin-left: -300px;
        clip-path: polygon(0 0, 93% 0, 100% 10%, 100% 100%, 0 100%);

        @media #{$xxxl} {
            margin-left: -140px;
        }

        @media #{$xxl} {
            margin-left: -40px;
        }

        @media #{$xl} {
            margin-left: -50px;
        }

        @media #{$lg} {
            margin-left: 0px;
            height: 586px;
        }

        @media #{$md} {
            margin-left: 0px;
            height: 586px;
        }

        @media #{$xs} {
            margin-left: 0px;
            height: 400px;
        }
    }
    
}


/* 
    counter-2-end
*/