/* 
    agn-faqs-1-start
*/
.agn-faqs-1 {
    &-accordion {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 56px;

        @media #{$xs} {
            grid-template-columns: 1fr ;
            gap: 0px;
        }
    }
}


.agn-accordion {

    &-item {
        border-bottom: 1px solid #BFBFBF;

        .item-title {
            border: none;
            outline: none;
            font-size: 20px;
            font-weight: 400;
            background: transparent;
            width: 100%;
            text-align: left;
            padding: 31px 0;
            position: relative;
            z-index: 1;
            display: flex;
            gap: 24px;
            transition: all 0.5s var(--agn-cube-1);
            align-items: center;
            position: relative;
            z-index: 1;


            @media #{$xs} {
                font-size: 18px;
            }

            .icon {
                margin-left: auto;
            }

            &:hover {
                color: var(--agn-clr-pr-1);
            }
    
            &:is(:not(.collapsed)) {
                color: var(--agn-clr-pr-1);
                .icon {
                    i {
                        &::before {
                            content: "\f068";
                        }
                    }
                }

            }


        }
        
        .item-body {
            margin-bottom: 0;
            max-width: 732px;
            padding-bottom: 28px;
        }


    }

}

/* 
    agn-faqs-1-end
*/