/* 
    footer-1-start
*/
.agn-footer-1 {
    &-area {
        background-color: #120C1F;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;
    }
    

    &-subscribe {
        max-width: 545px;

        .title {
            font-size: 28px;
            line-height: 1.142;
            color: var(--agn-clr-white-1);
            letter-spacing: -.5px;
            margin-bottom: 40px;
        }
    }


    &-widget {
        max-width: 860px;
        margin-left: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 140px;

        @media #{$md} {
            gap: 50px;
        }

        @media #{$xs} {
            gap: 50px;
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            gap: 50px;
            grid-template-columns: 1fr 1fr;
        }

        &-single {
            .widget-title {
                font-size: 22px;
                color: var(--agn-clr-white-1);
                line-height: 1.5;
                margin-bottom: 15px;
            }
        }
    }
    

    &-menu {
        li {
            a {
                font-family: var(--test-sohne-400);
                display: flex;
                align-items: center;
                color: var(--agn-clr-white-1);
                text-transform: capitalize;
                font-size: 18px;
                justify-content: space-between;
                gap: 10px;
                line-height: 1.5;
                opacity: 80%;
                border-bottom: 1px solid rgb(255 255 255 / 12%);
                padding: 14px 0;
                position: relative;
                z-index: 1;
                transition: all .5s var(--agn-cube-1);

                i {
                    transition: all .5s var(--agn-cube-1);
                }

                &::after {
                    content: "";
                    left: 0;
                    bottom: -1px;
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    background: var(--agn-clr-pr-1);
                    transition: all .5s var(--agn-cube-1);
                }

                &:hover {
                    opacity: 1;
                    color: var(--agn-clr-pr-1);
                    
                    &::after {
                        width: 100%;
                    }

                    i {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    
    &-contact {
        .item {
            font-size: 18px;
            line-height: 24px;
            color: var(--agn-clr-white-1);
            opacity: 90%;
            display: flex;
            align-items: baseline;
            gap: 10px;
            margin-bottom: 15px;
            transition: all .3s var(--agn-cube-1);

            i {
                color: #2DFFA6;
            }
            &:is(a) {
                &:hover {
                    opacity: 100%;
                    color: #2DFFA6;
                }
            }
        }

        .title {
            font-size: 18px;
            font-weight: 700;
            color: var(--agn-clr-white-1);
            border-bottom: 1px solid #fff;
            display: inline-block;
            line-height: 2;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
    }
    
    &-copyright {
        border-top: 1px solid rgb(255 255 255 / 20%);
        padding: 22px 0;

        &-flex {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;

            @media #{$xs} {
                justify-content: center;
            }
        }

        &-text {
            font-size: 16px;
            line-height: 30px;
            color: var(--agn-clr-white-1);
            opacity: 72%;

            a {
                transition: all .3s var(--agn-cube-1);

                &:hover {
                    color: var(--agn-clr-pr-1);
                }
            }

        }

        &-menu {
            display: flex;
            align-items: center;
            gap: 10px 60px;
            flex-wrap: wrap;

            li {
                a {
                    font-family: var(--test-sohne-400);
                    color: var(--agn-clr-white-1);
                    text-transform: capitalize;
                    font-size: 16px;
                    line-height: 30px;
                    opacity: 72%;
                    transition: all .3s var(--agn-cube-1);

                    &:hover {
                        opacity: 1;
                        color: var(--agn-clr-pr-1);
                    }
                }
            }
            
        }
    }

    &-img {
        width: 35%;
        position: absolute;
        bottom: 5%;
        left: 3%;
        z-index: -1;
        filter: grayscale(1);
    }
}





.agn-subscribe-form {
    position: relative;
    z-index: 1;

    &-input {
        outline: none;
        font-family: var(--test-sohne-400);
        font-size: 16px;
        color: rgb(255 255 255 / 48%);
        width: 100%;
        border: 1px solid rgb(255 255 255 / 28%);
        background: transparent;
        border-radius: 8px;
        height: 68px;
        padding-left: 24px;
        padding-right: 156px;
    }

    &-btn {
        border: none;
        outline: none;
        font-family: var(--test-sohne-400);
        text-transform: capitalize;
        background: var(--agn-clr-pr-1);
        color: var(--agn-clr-white-1);
        font-size: 16px;
        border-radius: 6px;
        padding: 7px 24px;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .5s var(--agn-cube-1);

        &:hover {
            background: var(--agn-clr-pr-2);
        }
    }
}
/* 
    footer-1-end
*/