/* 
    price-1-start
*/
.agn-price-1 {

    &-sec-title {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }


    &-card {
        background: #fff;
        border-radius: 8px;
        padding: 32px 32px;
        text-align: center;
        border: 1px solid #DFE1E5;
        transition: all .5s var(--agn-cube-1);
        margin-bottom: 32px;

        @media #{$lg} {
            padding: 32px 20px;
        }

        .bg-shape {
            width: 40px;
            height: 80px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: linear-gradient(180deg, #FFDDE5 0%, #FFFFFF 100%);
            z-index: -1;
            transition: all .5s var(--agn-cube-1);
        }

        .icon-illus {
            width: 80px;
            height: 82px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
        }

        .card-title {
            font-size: 24px;
            line-height: 1.3;
            margin-bottom: 13px;
        }

        .card-price {
            font-size: 44px;
            line-height: 1;
            margin-bottom: 36px;
            font-weight: 600;

            span {
                &:nth-child(2) {
                    font-size: 18px;
                    font-weight: 400;
                    opacity: 62%;
                    font-family: var(--test-sohne-400);
                }
            }
        }

        .hr-line {
            width: 100%;
            height: 1px;
            background: #DFE1E5;
            margin-bottom: 32px;
        }

        .price-feature {
            margin-bottom: 36px;

            li {
                font-family: var(--test-sohne-400);
                font-size: 18px;
                line-height: 28px;
                text-align: left;
                display: flex;
                align-items: baseline;
                gap: 12px;
                color: var(--agn-clr-black-4);
            
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            
                .icon {
                    display: inline-block;
                    transform: translateY(-1px);
                    svg {
                        path {
                            &:nth-child(1) {
                                fill: var(--agn-clr-black-1);
                            }
                        }
                    }

                }

                &:is(.not-active) {
                    .icon {
                        svg {
                            path {
                                &:nth-child(1) {
                                    fill: #BDC0C6;
                                }
                            }
                        }
                    }
                }
            }
        }

        .card-disc {
            margin-bottom: 28px;
            opacity: 72%;
        }

        .card-btn {
            font-family: var(--test-sohne-400);
            width: 100%;
            color: var(--agn-clr-black-1);
            border: 1px solid var(--agn-clr-black-4);
            background: transparent;
            border-radius: 8px;
            padding: 13px 27px;
            transition: all .5s var(--agn-cube-1);

            &:hover {
                background: var(--agn-clr-pr-1);
                border-color: transparent;
                color: var(--agn-clr-white-1);
            }
        }

        &:hover {
            box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
            border-color: transparent;

            .icon-illus {
                img {
                    animation: pulse 1s;
                }
            }
            .bg-shape {
                background: linear-gradient(180deg, #E4C9FF 0%, #FFFFFF 100%);
            }
        }
    }
}

/* 
    price-1-end
*/