.agt-hero-section-4 {
	margin-left: 92px;
	@media #{$xl,$lg,$md,$sm,$xs} {
		margin-left: 0;
	}
}
.agt-hs4-item {
	z-index: 1;
	overflow: hidden;
	position: relative;
	@media #{$xxs} {
		padding-bottom: 60px;
	}
	&:before {
		left: 0;
		z-index: 1;
		content: '';
		width: 100%;
		height: 1px;
		bottom: 214px;
		position: absolute;
		background-color: var(--agt-base-color-8);
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
	.item-shape {
		bottom: 0;
		right: 130px;
		width: 778px;
		height: 778px;
		background-color: var(--agt-base-color-8);
		clip-path: polygon( 7.906% 72.402%,57.243% 72.402%,95.181% 30.484%,95.181% 30.484%,96.993% 28.126%,98.364% 25.578%,99.298% 22.893%,99.797% 20.125%,99.865% 17.326%,99.503% 14.549%,98.716% 11.848%,97.505% 9.275%,95.873% 6.884%,93.824% 4.727%,93.824% 4.727%,91.453% 2.925%,88.892% 1.561%,86.194% 0.632%,83.411% 0.135%,80.597% 0.068%,77.806% 0.428%,75.091% 1.211%,72.505% 2.416%,70.101% 4.039%,67.933% 6.078%,7.906% 72.402%,24.047% 108.878%,21.908% 110.472%,19.601% 111.718%,17.168% 112.613%,14.649% 113.155%,12.085% 113.342%,9.517% 113.172%,6.984% 112.643%,4.528% 111.752%,2.19% 110.498%,0.011% 108.878%,0.011% 108.878%,24.047% 108.878% );
		@media #{$xxxl,$xxl,$xl} {
			right: 30px;
		}
		@media #{$lg} {
			right: -60px;
		}
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
	.item-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		position: absolute;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.item-men-img {
		z-index: 2;
		right: 200px;
		bottom: -30px;
		position: absolute;
		@media #{$xxxl,$xxl,$xl} {
			right: 50px;
		}
		@media #{$lg} {
			right: -50px;
			bottom: -150px;
		}
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
	.brand_shape {
		right: 0;
		bottom: 0;
	}
	.agt-hs4-item-content {
		padding-top: 78px;
		@media #{$md,$sm,$xs} {
			padding-top: 40px;
		}
	}
	.item-team-wrap {
		z-index: 1;
		width: 326px;
		height: 231px;
		@media #{$md,$sm,$xs} {
			margin: 0 auto;
		}
		@media #{$xxs} {
			left: -15px;
		}
		.hexa-shape {
			left: 0;
			top: -3px;
			z-index: -1;
		}
		.arrow-shape {
			right: 112px;
			bottom: 70px;
		}
		.item-text-img {
			width: 193px;
			height: 144px;
			padding: 16px;
			.item-text {
				p {
					font-size: 16px;
					font-weight: 500;
					line-height: 1.25;
					letter-spacing: 0;
					padding-bottom: 14px;
					color: var(--agt-blk-clr-2);
				}
			}
			.item-img {
				li {
					width: 32px;
					height: 36px;
					overflow: hidden;
					margin-right: 2px;
					border-radius: 2px;
				}
			}
		}
		.team-counter-wrap {
			padding: 8px;
		}
		.team-counter {
			height: 68px;
			width: 112px;
			border-radius: 6px;
			background-color: var(--agt-base-color-7);
			h3 {
				color: #fff;
				font-size: 48px;
				font-weight: 700;
				letter-spacing: -2px;
				text-shadow: 2px 4px 8px  #00000029;
			}
		}
	}
	.agt-hs4-text {
		z-index: 4;
		max-width: 730px;
		position: relative;
		padding-top: 205px;
		@media #{$xxl,$xl,$lg} {
			max-width: 615px;
			padding-top: 40px;
		}
		@media #{$md,$sm,$xs} {
			margin: 0 auto;
			max-width: 100%;
			text-align: center;
			padding-top: 40px;
		}
		.hero_title {
			line-height: 1;
			font-size: 64px;
			font-weight: 800;
			color: var(--agt-blk-clr-2);
			@media #{$xs} {
				font-size: 50px;
			}
			@media #{$xxs} {
				font-size: 45px;
			}
			@media #{$xxxs} {
				font-size: 40px;
			}
		}
		p {
			max-width: 530px;
			padding-top: 75px;
			@media #{$md,$sm,$xs} {
				margin: 0 auto;
				padding-top: 30px;
			}
		}
	}
}