.agt-team-details-section {
	position: relative;
	&.ver_2 {
		z-index: 1;
		@media #{$xl,$lg,$md,$sm,$xs} {
			padding-bottom: 80px;
		}
		&:before {
			left: 0;
			bottom: 0;
			z-index: -1;
			content: '';
			width: 100%;
			height: 120px;
			position: absolute;
			background-color: #111827;
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			@media #{$xl,$lg,$md,$sm,$xs} {
				display: none;
			}
		}
	}
}
.agt-tmd-content {
	gap: 30px 80px;
	margin-top: -285px;
	&.ver_2 {
		margin-top: 0;
	}
	@media #{$lg,$md,$xs} {
		gap: 30px;
		margin-top: 70px;
	}
	@media #{$md,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
	.item-img {
		max-width: 644px;
		.inner-img {
			overflow: hidden;
			border-radius: 16px;
		}
	}
	.item-text {
		max-width: 596px;
		.item-name-degi {
			padding-top: 75px;
			padding-bottom: 120px;
			@media #{$lg,$md,$xs} {
				padding-bottom: 40px;
				padding-top: 0;
			}
			span {
				color: var(--agt-base-color-1);
				font-size: 20px;
				@media #{$lg,$md,$xs} {
					color: #000000;
				}
			}
			h2 {
				color: #fff;
				font-size: 80px;
				padding-top: 15px;
				font-family: var(--test-sohne-600);
				@media #{$lg,$md,$xs} {
					color: #000000;
					padding-top: 5px;
				}
				@media #{$xs} {
					font-size: 60px;
				}
				@media #{$xxs} {
					font-size: 40px;
				}
			}
			&.ver_2 {
				padding-top: 0;
				padding-bottom: 15px;
				span {
					color: var(--agt-base-color-9);
				}
				h2 {
					color: #1E2F22;
					font-size: 40px;
					padding-top: 10px;
					font-family: var(--field);
				}
			}
		}
		.item-desc {
			p {
				line-height: 1.667;
				padding-bottom: 30px;
			}
			ul {
				li {
					margin-bottom: 18px;
					span {
						color: #010101;
						margin-right: 40px;
						font-family: var(--test-sohne-500);
					}
				}
			}
			h3 {
				font-size: 22px;
				padding-bottom: 20px;
				font-family: var(--test-sohne-500);
			}
			.social-icon {
				border-radius: 8px;
				display: inline-block;
				background-color: #fff;
				box-shadow: -12px 12px 36px 0px #0000001F;
				a {
					width: 50px;
					height: 50px;
					line-height: 50px;
					text-align: center;
					display: inline-block;
					border-right: 1px solid #EEEEEE;
					&:last-child {
						border-right: none;
					}
				}
			}
			&.ver_2 {
				.social-icon {

				}
			}
		}
	}
}
.agt-tds-skill-sec {
	background-color: #18333B;
	&.ver_2 {
		background-color: #111827;
	}
}
.agt-tds-skill-text-wrap {
	gap: 30px 80px;
	@media #{$xl,$lg} {
		gap: 30px 30px;
	}
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
	}
}
.agt-tds-skill-text {
	max-width: 620px;
	h3 {
		color: #fff;
		font-size: 40px;
		padding-bottom: 25px;
		font-family: var(--test-sohne-500);
	}
	p {
		color: #fff;
		padding-bottom: 20px;
	}
	&.ver_2 {
		h3 {
			line-height: 1;
			font-family: var(--field);
		}
	}
}
.agt-tds-skill-progress {
	width: 100%;
	max-width: 620px;
	h3 {
		color: #fff;
		font-size: 40px;
		padding-bottom: 25px;
		font-family: var(--test-sohne-500);
	}
	&.ver_2 {
		h3 {
			line-height: 1;
			font-family: var(--field);
		}
	}
}
.agt-td-contact-section {
	z-index: 1;
	position: relative;
	&:before {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		content: '';
		height: 300px;
		position: absolute;
		background-color: #18333B;
	}
	&.ver_2 {
		&:before {
			background-color: #111827;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
		}
	}
}
.agt-td-contact-content {
	gap: 20px;
	overflow: hidden;
	position: relative;
	border-radius: 16px;
	background-color: #fff;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
	}
	.agt-cn-form {
		padding: 60px 40px;
		&.ver_2 {
			h3 {
				font-family: var(--field);
				@media #{$xs} {
					font-size: 26px;
				}
			}
			.agt-contact-form-input button {
				color: #fff;
				clip-path: none;
				border-radius: 100px;
				background-color: var(--agt-base-color-9);
			}
		}
	}
	.agt-tmcn-img {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}